$body-background: #eee299;
$body-color: #444;





// Stock bridgetown styles
body {
  background: $body-background;
  color: $body-color;
  font-family: Arial, Helvetica, sans-serif;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}





// Utility styles
* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 660px;
  text-align: center;
}

.post-container {
  margin: auto;
  max-width: 660px;
}





// Navbar styles
nav {
  background-color: #eee299;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: sticky;
  top: 0;
}

nav a {
  border-radius: 0px 10px 10px 10px;
  color: #444;
  margin: 0px 10px;
  padding: 15px 20px;
  text-decoration: none;
}

nav a:hover {
  border-bottom: #444 solid 1px;
  border-left:  solid 1px;
  box-shadow: 2px 5px 0px #444;
}

nav a:visited {
  color: #444;
}





// Footer styles
footer p {
  font-size: 14px;
}

footer p a {
  color: #ce9a20;
  text-decoration: none;
}





// Home page styles
#main-img-me {
  border-radius: 50%;
  display: block;
  margin: auto;
  opacity: 0.8;
}





// Posts index styles
#posts-list {
  line-height: 1.8em;
  list-style: none;
  padding: 0;
}

#posts-list li {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  width: 100%;
}

#posts-list li a {
  color: #444;
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  width: 50%;
}

#posts-list li a:hover {
  border-bottom: #444 solid 1px;
  border-left:  solid 1px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 2px 5px 0px #444;
}

#posts-list li a:visited {
  color: #444;
}