<footer>
  Contact me at {{ metadata.email }} <br>
  <p>
    This site was built insanely fast using <a href="https://www.bridgetownrb.com/">bridgetownrb</a>
  </p>
  <div class="footer-links">
    <a href="https://github.com/cjilbert504" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://twitter.com/collin_jilbert" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/collin-jilbert" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
</footer>
